## Ignore Some NinjaTrader Files
de-DE/
es-ES/
fr-FR/
it-IT/
pt-PT/
ru-RU/
zh-Hans/
obj/
NinjaTrader.Custom.dll
Resource.Designer.cs
ResourceEnumConverter.cs
Resource.resx
Resource.de*
Resource.es*
Resource.ru-RU*
Resource.zh*
AddOns/@*
BarsTypes/@*
ChartStyles/@*
DrawingTools/@*
ExportNinjaScript/
ImportTypes/@*
Indicators/@*
MarketAnalyzerColumns/@*
OptimizationFitnesses/@*
Optimizers/@*
PerformanceMetrics/@*
ShareServices/@*
Strategies/@*
SuperDomColumns/@*
AssemblyInfo.cs
NinjaTrader.Custom.xml
NinjaTrader.Vendor.cs
NinjaTrader.Vendor.dll
